*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: #111;
  color: #fff;
  font-size: 10px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

#root {
  height: 100%;
  font-size: 1.5rem;
}

#root > section {
  padding: 1rem;
}


/* ---------------------------------------- */


#root > section > header {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#root > section > header > section {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root > section > header > section:first-child {
  align-items: center;
  justify-content: flex-start;
}

#root > section > header > section:first-child > div {
  width: 4rem;
  height: 4rem;
  background-color: hsla(0, 0%, 100%, .9);
  border-radius: 50%;
  margin-left: 2rem;
}

#root > section > header > section:first-child > div:hover {
  cursor: pointer;
}

#root > section > header > section:nth-child(2) {
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#root > section > header > section:nth-child(2) > button {
  width: 4rem;
  height: 4rem;
  background-color: hsla(0, 0%, 100%, .5);
  border-radius: 50%;
  border: none;
}

#root > section > header > section:nth-child(2) > button:hover {
  border: 2px solid #fff;
}

#root > section > header > section:last-child {
  justify-content: flex-end;
}

#root > section > header > section:last-child > div{
  display: flex;
  align-items: center;
  flex-direction: row;
  right: 0;
  gap: 2rem;
}

#root > section > header > section:last-child > div > button:first-child {
  margin-right: 2rem;
  background-color: #111;
  bordeR: none;
}

#root > section > header > section:last-child > div > button:first-child:hover {
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

#root > section > header > section:last-child > div > div:last-child {
  width: 5rem;
  height: 5rem;
  background-color: hsla(0, 0%, 100%, .1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

#root > section > header > section:last-child > div > div:last-child:hover {
  border: 2px solid #fff;
  cursor: pointer;
}

.user-logo{
  width: 3.5rem;
  height: 3.5rem;
  font-size: 2rem;
  font-weight: 600;
  background-color: #724418;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #111;
}

input[type="text"] {
  width: 50rem;
  background-color: hsla(0, 0%, 100%, .1);
  border-radius: 20px;
  border: none;
  color: #fff;
  padding: 1.2rem 2rem;
  font-size: inherit;
}

input::placeholder {
  color: hsla(0, 0%, 100%, .7);
}


/* ---------------------------------------- */


main {
  width: 100%;
  border: 2px solid yellow;
  height: calc(100vh - 16.5rem);
  display: flex;
  gap: .7rem;
}

main > aside:first-child {
  border: 2px solid red;
  width: 35rem;
  height: 100%;
  background-color: hsla(0, 0%, 100%, .03);
  border-radius: 10px;
}

main > aside:first-child button {
  background-color: hsla(0, 0%, 100%, .08);
  border: none;
}

main > aside:first-child button:hover {
  background-color: hsla(0, 0%, 100%, .2);
}

main > aside:first-child > section:first-child {
  border: 1px dashed white;
  height: 5rem;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main > aside:first-child > section:first-child > h3:hover {
  cursor: pointer;
}

.create-library-container {
  display: flex;
  gap: 1rem;
}

.create-library-button {
  border-radius: 20px;
  font-weight: 600;
  padding: .5rem 1.3rem;
}

main > aside:first-child > section:nth-child(2) {
  border: 1px dashed violet;
  height: 5rem;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

main > aside:first-child > section:nth-child(2) button{
  border-radius: 20px;
  padding: .5rem 1.3rem;
}

.library-playlist-container {
  border: 1px dashed lightblue;
  height: calc(100vh - 27rem);
  overflow-y: hidden;
  scrollbar-width: thin;
  scrollbar-color: lightgray transparent;
}

.library-playlist-container:hover {
  overflow-y: auto;
}

.library-playlist-container-menu{
  border: 1px dashed blue;
  height: 3rem;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.library-playlist-container-menu > div {
  display: flex;
  gap: 1rem;
}

.library-playlist-container-menu > div > button:first-child {
  background-color: inherit;
}

.library-playlist-container-menu> div > button:first-child:hover {
  font-weight: 700;
  background-color: inherit;
}


/* ---Aside Playlist--- */
.library-playlist-list {
  list-style: none;
  padding: .5rem 1rem;
  margin: 0;
}

.library-playlist-list > li {
  display: flex;
  gap: 1.5rem;
  padding: .7rem;
  border-radius: 10px;
}

.library-playlist-list > li:hover {
  background-color: hsla(0, 0%, 100%, .05);
}

.playlist-infos {
  display: flex;
  flex-direction: column;
}

.playlist-infos > div:nth-child(2) {
  display: flex;
  align-items: center;
  opacity: .6
}
/* ------ */


main > section {
  border: 2px solid green;
  width: calc(100vw - 75rem);
  background: linear-gradient(hsla(0, 0%, 100%, .1),hsla(0, 0%, 100%, .03),hsla(0, 0%, 100%, .03), hsla(0, 0%, 100%, .03));
  border-radius: 10px;
}





main > aside:last-child {
  border: 2px solid blue;
  width: 40rem;
  background-color: hsla(0, 0%, 100%, .03);
  border-radius: 10px;
}

/* ---------------------------------------- */


#root > section > footer {
  border: 2px solid violet;
  height: 8rem;
  padding: 5rem 1rem 4rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#root > section > footer > section {
  width: 35%;
  display: flex;
  align-items: center;
}

#root > section > footer > section:first-child {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
}

.current-song-logo {
  width: 6rem;
  height: 6rem;
  background-color: #55c0c6;
  border-radius: 5px;
}

.current-song-infos {
  display: flex;
  flex-direction: column;
}

#root > section > footer > section:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.current-song-commands {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

 .current-song-commands > button:nth-child(3) {
  width: 4rem;
  height: 4rem;
  background-color: hsla(0, 0%, 100%, .5);;
  border-radius: 50%;
  border: none;
}

.current-song-commands > button:nth-child(3):hover {
  border: 2px solid #fff;
}

.current-song-timing {
  display: flex;
  gap: 1.5rem;
}

.progress-bar-song-container {
  width: 55rem;
  display: flex;
  align-items: center;
}

.progress-bar-song-container{
  cursor: pointer;
}

.progress-bar-song-white {
  height: .4rem;
  border-radius: 20px;
  background-color: #fff;
  width: 58%;
}

.progress-bar-song-container:hover .progress-bar-song-white{
  background-color: #28C83E;
}

.progress-bar-grey {
  height: .4rem;
  border-radius: 20px;
  background-color: #fff;
  width: 100%;
  opacity: .4;
}

.progress-bar-volume-container {
  width: 8rem;
  display: flex;
  align-items: center;
}

.progress-bar-volume-container:hover {
  cursor: pointer;
}

.progress-bar-volume-white {
  height: .4rem;
  border-radius: 20px;
  background-color: #fff;
  width: 240%;
}

.progress-bar-volume-container:hover .progress-bar-volume-white {
  background-color: #28C83E;
}

#root > section > footer > section:last-child{
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}


/* ---------------------------------------- */


.tiny-icon {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid #fff;
  border-radius: 50%;
  opacity: .75;
}

.tiny-icon:hover {
  background-color: #fff;
}

.song-logo {
  width: 5rem;
  height: 5rem;
  background-color: #37454b;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}